.login-register {
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 20px;

}

.usernameContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

.passwordContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

.usernameContainer > label {
    margin: 10px;
    margin-bottom: 5px;
}


.passwordContainer > label {
    margin: 10px;
    margin-bottom: 5px;
}

.login-register > button {
    margin: 10px;
}